*{
    margin:0;
    padding:0;
}
body{
    background-color:#97a2e1;
    text-align: center;
}
.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items:center;
}
.game{
    margin-top: 10%;
    height:60vmin;
    width:60vmin;
    align-items:center;
    gap:1.5vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    border-radius:10% ;
    border:none;
    box-shadow:0 0 1rem rgba(0, 0, 0, 0.3) ;
    color:chocolate;
    background-color: antiquewhite;
    width: 18vmin;
    height: 18vmin;
    font-size: 8vmin;
    cursor: pointer;

}
#reset{
    padding:1rem;
    font-size:1.5rem;
    background-color: #41413d;
    color:azure;
    border-radius: 1rem;
    border:none;
    margin-top: 5%;
    position:relative; 
    cursor: pointer;
}
#new-btn{
    padding: 1rem;
    font-size:1.25rem;
    background-color: #41413d;
    color:azure;
    border-radius: 1rem;
    border:none;
    cursor: pointer;
}
#msg{
    color:azure;
    font-size: 10vmin;
    animation:forwards;
}
.message{
    height:100vmin;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap:5rem;
}
.hide{
    display:none;
}
